<div class="delete-confirmation-dialog">
  <h3 mat-dialog-title>
    This operation is irrevesible, do you want to continue?
  </h3>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      aria-label="button that cancels deleting user account"
      [mat-dialog-close]="true"
    >
      NO
    </button>
    <button
      mat-raised-button
      color="accent"
      aria-label="button that proceeds to delete user account"
      (click)="deregisterUser()"
    >
      YES
    </button>
  </div>
</div>
